VC14/.vs/*
VC14/Debug/*
VC14/debug/*
XCode/AS2_Framework.xcodeproj/xcuserdata/*
XCode/AS2_Framework.xcodeproj/project.xcworkspace/xcuserdata/*
XCode/AS2_Framework.xcodeproj/project.xcworkspace/xcuserdata/
